$camera-distance: 400px;
$wall-material: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/138980/d1e55cb1f626ee8eb9cde3762a93a0a0.jpg);

.home-container {
  height: 100%;
  margin: 0;
  padding: 0;
  .stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: $camera-distance;
    animation: camera 10s infinite;
    position: relative;
    overflow: hidden;

    div {
      box-sizing: border-box;
    }

    .floor {
      background-image: $wall-material;

      background-size: 8%;
      border: 1px solid black;
      transform: translate(-50%, 1.5em) rotateX(90deg);
      transform-origin: center top;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .rightwall {
      height: 3em !important;
      background: #ccc;

      background-image: $wall-material;
      background-size: 50%;

      transform: translate(50%, -50%) rotateY(-90deg);
      transform-origin: left center;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          to right,
          rgba(80, 80, 80, 0.88) -20%,
          #000 50%
        );
        opacity: 0.9;
      }
    }

    .leftwall {
      height: 3em !important;

      background: #ccc;

      background-image: $wall-material;
      background-size: 50%;
      transform: translate(-150%, -50%) rotateY(90deg);
      transform-origin: right center;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          to left,
          rgba(80, 80, 80, 0.88) -20%,
          #000 50%
        );
        opacity: 0.9;
      }

      .quote {
        font-size: 14px;
        margin-left: 35%;
        width: 50%;
        text-align: left;
        color: white !important;
        font-family: "Indie Flower", cursive;
        z-index: 1;
        @media (max-width: 1600px) {
          margin-left: 40%;
          width: 40%;
        }
        @media (max-width: 1300px) {
          font-size: 12px;
          margin-left: 45%;
          width: 35%;
        }
        @media (max-width: 1100px) {
          margin-left: 55%;
          width: 30%;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 13px;
        }
        @media (max-width: 900px) {
          margin-left: 62.5%;
          width: 20%;
          font-size: 12px;
        }
        @media (max-width: 800px) {
          display: none;
        }
        .quote-by {
          margin-left: 5%;
        }
      }
    }

    .center {
      border: 1px solid black;

      height: 3em !important;
      transform: translate(-50%, -50%);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: rgb(131, 58, 180);
        background: linear-gradient(
          90deg,
          rgba(131, 58, 180, 1) 0%,
          rgba(253, 29, 29, 1) 50%,
          rgba(252, 176, 69, 1) 100%
        );
        opacity: 0.85;
      }
    }

    .ceiling {
      transform: translate(-50%, -5.5em) rotateX(-90deg);
      transform-origin: bottom center;
      background-image: $wall-material;

      background: rgb(131, 58, 180);
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.11) -8%,
          white 100%
        );
        opacity: 0.9;
      }
    }

    .threed {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      width: 6em;
      height: 4em;
      left: 50%;
      top: 50%;
      margin: 0;
    }
  }
}
