.posters-container {
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  //   border: 5px solid red;
  margin-right: 50%;
  //   width: 50%;
  .poster {
    font-size: 14px;
    // border: 1px solid red;
    z-index: 1;
    height: 100px;
    // width: 50px;
    margin-left: 40px;
    .poster-img {
      height: 100px;
      width: 100px;
      opacity: 1;
      box-shadow: 1.5px 1.5px 1px lightblue;
    }
    .window {
      background: rgb(131, 58, 180);
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
      opacity: 0.8;
      .row {
        border: 1px solid white;
        height: 50px;
        width: 100px;
        display: flex;
        .square {
          border: 4px solid white;
          width: 50%;
          display: flex;
        }
      }
    }
  }
}
