.contact-container {
  .subject-header {
    border-bottom: 1px solid black;
    margin: 5px auto 5px auto;
    font-family: "Permanent Marker", sans-serif, arial;
    font-size: 60px;
    color: #1f75fe;
    text-align: center;
  }
}
