.contact-container {
  .subject-header {
    text-decoration: underline;
    margin: 5px auto 5px auto;
    font-family: "Permanent Marker", sans-serif, arial;
    font-size: 60px;
    color: #1f75fe;
    text-align: center;
    @media (max-width: 500px) {
      font-size: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .name-signature {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
  }
  .thank-you-message {
    display: none;
  }
}
