.about-container {
  .subject-header {
    text-decoration: underline;
    margin: 5px auto 5px auto;
    font-family: "Permanent Marker", sans-serif, arial;
    font-size: 60px;
    color: #1f75fe;
    text-align: center;
  }
}
