.hobbies-container {
  font-family: "Roboto", sans-serif;
  margin-top: 3%;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 12.5%;
  font-size: 18px;
  margin-bottom: 5%;
  @media (max-width: 600px) {
    margin: 0;
    width: 100%;
  }
  .about-sub-header {
    text-decoration: underline;
    font-size: 40px;
    @media (max-width: 500px) {
      font-size: 35px;
      margin-left: 12.5%;
    }
  }
  .hobby-tabs {
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-evenly;
    // border: 1px solid black;

    @media (max-width: 1100px) {
      width: 70%;
      margin-left: 15%;
    }
    @media (max-width: 800px) {
      width: 100%;
      margin-left: 0;
      // margin-top: 5%;
    }
    @media (max-width: 600px) {
      // border: 1px solid red;
    }
    .hobbies-link {
      text-decoration: none;
      color: black;
      background: white;
      // color: black;
      border: 1px solid black;
      padding: 1.5%;
      font-size: 24px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px black;
      border-bottom: 1px solid;
      @media (max-width: 600px) {
        font-size: 20px;
      }
      &:hover {
        color: white;
        background: black;
      }
    }
    .nav {
      width: 100%;
      height: 80px;
      //   box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      font-family: "Roboto", sans-serif;
      top: 0;
      .nav-content {
        max-width: 100%;
        padding: 0rem 3rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @media (max-width: 500px) {
          padding: 0;
          margin: 0;
          width: 100%;
          border-bottom: 1px solid gray;
        }
      }
      .nav-items {
        display: flex;
        @media (max-width: 500px) {
          width: 100%;
          margin: 0;
          padding: 0;
          justify-content: center;
          align-items: center;
        }
        .nav-item {
          width: 100px;
          margin-left: 2rem;
          margin-right: 2rem;
          padding: 1rem;
          //   color: #333;
          background: black;
          color: white;
          font-size: 1.2rem;
          border-radius: 5px;
          border: 1px solid black;
          display: flex;
          justify-content: center;
          &:hover {
            transform: scale(1.2);
          }

          @media (max-width: 600px) {
            // background: white;
            // color: black;
            padding: 2%;
            // border: none;
            // text-decoration: underline;
            font-size: 1rem;

            margin-left: 1%;
            margin-right: 1%;
          }
          .active {
            // padding-left: 30%;
            // padding-right: 30%;
            // padding-top: 5%;
            // padding-bottom: 5%;
            // font-size: 1.15rem;
            color: indianred;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            // padding: 10px 20px;
            @media (max-width: 500px) {
              //   background: none;
              //   padding: 0;
              //   color: #333;
              //   font-size: 0.9rem;
            }
          }
        }
        .active:hover {
          @media (max-width: 500px) {
            // color: white;
          }
        }
        .nav-item:hover {
          cursor: pointer;
          // background: url(https://www.onlygfx.com/wp-content/uploads/2017/04/blue-watercolor-brush-stroke-9.png);
          // background-repeat: no-repeat;
          // background-size: 100% 100%;
          // color: white;
          @media (max-width: 500px) {
            // color: white;
          }
        }
      }
      // sticky class is added with JS when scroll position is reached
    }
  }

  .hobby-section {
    // border-top: 1px solid gray;
    padding-bottom: 10px;
    padding-top: 10px;
    @media (max-width: 500px) {
      // border: 1px solid black;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  .sub-header {
    color: indianred;
    @media (max-width: 500px) {
      margin-top: 8%;
      // margin-bottom: 8%;
    }
  }
  h2 {
    margin-top: 5%;
    // color: darkslateblue;
    @media (max-width: 500px) {
      margin-top: 15%;
      margin-bottom: 5%;
    }
  }
  h3 {
    margin-top: 2.5%;
  }
  li {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;
  }
  .img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    @media (max-width: 500px) {
      margin-top: 15%;
      margin-bottom: 15%;
    }
    .rafiki-img {
      height: 170px;
      // width: 170px;
      border: 1px solid black;
      // box-shadow: 1px 1px 1px black;
      @media (max-width: 500px) {
        height: 250px;
        width: 250px;
      }
    }
    .img-caption {
      margin: 0;
      padding-top: 1%;
      font-size: 14px;
      width: 300px;
    }
  }
  @media (max-width: 500px) {
    font-size: 16px;
  }

  .disney-sports-traveling-links {
    display: flex;
    // border: 1px solid black;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid black;
    // .view-my {
    //   white-space: nowrap;
    //   @media (max-width: 500px) {
    //     white-space: wrap !important;
    //   }
    // }
    // @media (max-width: 1250px) {
    //   font-size: 16px;
    // }
    @media (max-width: 800px) {
      // border: 1px solid black;
      flex-direction: column;
      // align-items: flex-start;
      // text-align: left;
    }

    .disney-sports-traveling-link {
      color: blue;
      margin-left: 2.5%;
      margin-right: 2.5%;
      font-size: 20px;
      // white-space: nowrap;

      @media (max-width: 800px) {
        font-size: 20px;
        white-space: nowrap;
        margin-top: 10px;
      }
    }
  }

  .emoji {
    font-size: 40px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .emoji-links {
    justify-content: flex-start;
    align-items: center;
  }
  .emoji-link {
    text-decoration: none;
  }
  .sport-container {
    margin-top: 5%;
  }
}
.fav-characters-container {
  display: flex;
  margin-top: 20px;

  @media (max-width: 500px) {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .disney-content {
    width: 60%;
    @media (max-width: 500px) {
      font-size: 16px;
      width: 100%;
    }
  }
  li {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
  .img-wrapper {
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 20px;

    @media (max-width: 800px) {
      // font-size: 14px;
      // width: 100%;
      // margin: 0;
      // margin-top: 50px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      margin-top: 20px;
      margin-left: 50px;
    }

    @media (max-width: 500px) {
      font-size: 14px;
      width: 100%;
      margin: 0;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .rafiki-img {
      height: 270px;
      width: 200px;
    }
  }
}

.fav-sports-memories-container {
  .flex-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    height: 250px;
    .left-side {
      width: 60%;
      margin: 0;
      padding: 0;
    }
    .img-wrapper {
      width: 40%;
      display: flex;
      align-items: flex-start;
      margin-top: 80px;
      margin-left: 0px;
      .rafiki-img {
        height: 270px;
      }
    }
  }
  h3 {
    margin-top: 0;
  }
}
