.social-studies-container {
  .subject-header {
    text-decoration: underline;
    margin: 5px auto 5px auto;
    font-family: "Permanent Marker", sans-serif, arial;
    font-size: 60px;
    color: #1f75fe;
    text-align: center;
  }
  .quote-wrapper {
    // border: 2px solid red;

    .social-studies-quote {
      transform: rotate(-90deg);
      // transform-origin: left top 0;
      float: left;
      margin-left: -140px;
      margin-top: 170px;
      font-size: 30px;
      // font-family: "Nothing You Could Do", cursive;
      font-family: "Indie Flower", cursive;
    }
  }
}
