.social-studies-container {
  height: 100vh;
  .subject-header {
    text-decoration: underline;
    margin: 5px auto 5px auto;
    font-family: "Permanent Marker", sans-serif, arial;
    font-size: 60px;
    color: #1f75fe;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 40px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }

  .question {
    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    font-size: 18px;
    // border: 1px solid black;
    margin-top: -65px;

    @media (max-width: 1150px) {
      padding-right: 50px;
    }
    @media (max-width: 1000px) {
      display: none;
    }
    // @media (max-width: 800px) {
    //   margin: 0;
    //   padding-left: 0;
    //   padding-right: 50px;
    //   margin-top: 20px;
    //   // padding-left: 5%;
    //   // padding-right: 5%;
    // }

    @media (max-width: 600px) {
      display: none;
    }
    .question-link {
      text-decoration: none;
      // color: #1f75fe;
      color: white;
      border: 2.5px solid #1f75fe;
      padding: 1%;
      background: black;

      border-radius: 5px;
      // box-shadow: 1px 1px 5px blue;
      &:hover {
        // transform: scale(1.1);
        box-shadow: 1px 1px 10px blue;
      }
    }
  }
  .quote-wrapper {
    // border: 2px solid red;
    @media (min-width: 1800px) {
      margin-left: 50px;
    }
    @media (max-width: 1150px) {
      display: none;
    }
    .social-studies-quote {
      transform: rotate(-90deg);
      // transform-origin: left top 0;
      float: left;
      // margin-left: -150px;
      margin-top: 240px;
      margin-top: 15%;
      margin-left: -10%;
      font-size: 32.5px;
      // font-family: "Nothing You Could Do", cursive;
      font-family: "Indie Flower", cursive;

      @media (max-width: 1300px) {
        margin-top: 15%;
      }
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;

    margin-right: 280px;
    // margin-top: -35px;
    font-family: "Roboto", sans-serif;
    font-family: "Alike Angular", serif;
    font-size: 16px;
    // position: absolute;
    // bottom: 10px;
    // border: 1px solid black;
    // margin-bottom: 30%;
    margin-top: 1.5%;
    // position: absolute;
    // bottom: 30px;
    // left: 330px;

    @media (max-width: 1150px) {
      margin: 0;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 0;
    }
    @media (max-width: 600px) {
      margin: 0;
    }
    .row {
      display: flex;
      @media (max-width: 600px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .box {
        width: 33%;
        // width: 300px;
        height: 210px;
        // box-shadow: 1px 1px 1px black;
        border: 1px solid black;
        background: #f5f5f5;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 1px 1px 5px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: black;

        @media (max-width: 600px) {
          width: 80%;
          border-radius: 5px;
        }

        &:hover {
          box-shadow: 5px 5px 10px black;
          cursor: pointer;
        }

        .box-img {
          height: 65px;
          margin-top: 10px;
        }
      }
    }
  }
  .icon-credit {
    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    // right: 50px;
    width: 100%;
    right: 70px;

    @media (max-width: 1150px) {
      display: none;
    }
    .icon-credt-link {
      text-decoration: none;
      color: #1f75fe;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .mobile-contact-wrapper {
    display: none;
    @media (max-width: 1000px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: 20px;
    }
    .mobile-contact-link {
      @media (max-width: 1000px) {
        text-decoration: none;
        color: blue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
